<h1>Productos</h1>


<!-- <form action="">
<h1>FORMULARIO DE PRODUCTOS</h1>

    <div>
        <label for="">Nombre</label>
        <input type="text" placeholder="Escriba el Nombre" required>
    </div>
    <div>
        <label for="">Descripcion</label>
        <input type="text" required>
    </div>
    <div>
        <label for="">Precio</label>
        <input type="text">
    </div>
    <div>
        <label for="">Categoria</label>
        <input type="text">
    </div>

   <button>Registrar</button>
</form> -->