:root {
  --primary-color: #39A900;
  --primary-color-rbga: rgba(57, 169, 0, 0.7);
  --secondary-color: #007832;
  --tertiary-color: #f1f1f1;
  --white-color: #fff;
  --black-color: #000;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  color: #000;
}

:root {
  --primary-color: #39A900;
  --primary-color-rbga: rgba(57, 169, 0, 0.7);
  --secondary-color: #007832;
  --tertiary-color: #f1f1f1;
  --white-color: #fff;
  --black-color: #000;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-rows: minmax(80px, 1fr);
  grid-template-columns: 450px 1fr;
  grid-template-areas:
    "header header"
    "formulario tabla";
  gap: 1rem;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.menu__link {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #131313;
  font-size: 20px;

}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black-color);
  text-align: center;
}

.tabla {
  grid-area: tabla;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  height: min-content
}

table {
  background-color: var(--white-color);
  text-align: left;
  border-collapse: collapse;
  border: solid 1px var(--primary-color);
  width: 100%;
}

th,
td {
  padding: 20px;
}

thead {
  background-color: var(--primary-color);
  border-bottom: solid 1px var(--black-color);
  color: var(--white-color);
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

tr:hover td {
  background-color: var(--tertiary-color);
}

.formulario {
  grid-area: formulario;
  position: sticky;
  top: 70px;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  height: min-content
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__label {
  font-weight: 400;
  cursor: pointer;
  color: var(--secondary-color);
}

table {
  background-color: var(--white-color);
  text-align: left;
  border-collapse: collapse;
  border: solid 1px var(--primary-color);
  width: 100%;
}

.form__label {
  font-weight: 400;
  cursor: pointer;
  color: var(--secondary-color);
}

a {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #131313;
  font-size: 20px;

}

a:hover {
  color: green;
  text-decoration: underline;
}