<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="container grid">
    <div class="formulario">
      <h2 class="title">Datos basicos</h2>
      <form id="form" class="form__container" novalidate>
        <input type="hidden" id="identificador">
        <div class="form-group">
          <label for="nombre" class="form__label">Nombre</label>
          <input type="text" name="nombre" id="nombre" class="form__input" data-required="true">
        </div>
        <div class="form-group">
          <label for="apellidos" class="form__label">Descripcion</label>
          <input type="text" name="apellidos" id="apellidos" class="form__input" data-required="true">
        </div>
        <div class="form-group">
          <label for="telefono" class="form__label">Precio</label>
          <input type="text" name="telefono" id="telefono" class="form__input" data-required="true">
        </div>
        <div class="form-group">
          <button class="btn">Crear Producto</button>
        </div>
    </div>
  </section>
</body>

</html>