<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="tabla">
    <h2 class="title">Listado de Productos</h2>
    <a href="#crearproductos">Crear Producto</a>
    <table id="tabla">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
              <td>Nombre</td>
              <td>Apellidos</td>
              <td>Teléfono</td>
              <td>Correo</td>
              <td>Documento</td>
              <td>
                <div class="botonera">
                  <button class="btn btn--samall">Editar</button>
                  <button class="btn btn--samall btn--danger">Eliminar</button>
                </div>
              </td>
            </tr> -->
      </tbody>

      </section>

      <script src="productoController.js" type="module"></script>
</body>

</html>